.gridContainer {
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: background-color 0.3s ease;
  background-color: #F9F8FF;
}

.gridContent {
  position: relative;
  overflow: visible;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
}

.editing {
  background-color: #F9F8FF;
  background-image: 
    linear-gradient(to right, rgba(224, 224, 224, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(224, 224, 224, 0.5) 1px, transparent 1px);
  background-size: inherit;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.editing[style*="background-color: #333333"] {
  background-color: #333333;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}
