.optionPannel {
    position: absolute;
    border-radius: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    height: auto;
    width: 14%;
    display: grid;
    grid-template-rows: auto 1fr; /* 위에 헤더와 아래 메인 영역을 분리 */
    gap: 6px; /* 그리드 아이템 간 간격 */
  }
  
  .optionMain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin-top: 6px;
    padding: 0px; /* 내부 여백 추가 */
    height: 100%; /* 그리드 영역 높이 설정 */
    width: 100%;
  }
  
  
  .ExpandPanelIconWrapper {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top: 10px;
  }
  
  .expandPanelContainer {
    display: flex;
    flex-direction: column; /* 자식 요소들을 수직 정렬 */
    gap: 10px; /* 자식 요소 사이에 간격 추가 */
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .blockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
  }
  
  .blockButton {
    padding: 10px 20px;
    background-color: #e7e6e6;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: #787878;
  }
  
  .blockButton:hover {
    background-color: white; /* 버튼에 마우스를 올렸을 때 색상 변경 */
    border:2px solid #e7e6e6;
  }
  
  .darkModeBackground {
    background-color: #333333; /* 어두운 배경색 */
    color: #FFFFFF; /* 어두운 배경에 어울리는 글자색 */
  }
  